.aboutus {
  text-align: justify;
  box-sizing: inherit;
  color: #5a5a5a;
  font-size: 1.3rem;
  margin: 0;
  font-weight: 550;
  letter-spacing: inherit;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.aboutus > span{
  color: #f57f20;
}
.our-team .pic{
    border-top: 5px solid #f57f20;
    border-bottom: 5px solid #f57f20;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    border-top-color: #b65125;
    border-bottom-color: #b65125;
    border-radius: 50% 0;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.our-team .team-content{ padding: 20px 0; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #454547;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 17px;
    color: #878484;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
}
.our-team .social li{ display: inline-block; }
.our-team .social  li  {
    align-items: baseline;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #b65125;
    background: #fff;
    font-size: 17px;
    color: #f57f20;
    text-align: center;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li{
    background: #b65125;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}




/*<!------------ counting number css ->*/

.texthead {
  font-size: 2em;
  margin: .67em 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: Arial;
  color: #808080;
  text-align: center;
  line-height: 1.15;
}



.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #f57f20; }









/*   //////////team csss ----*/

img {
    max-width: 100%;
}
#team {
    padding: 150px 0;
}
#fun-fact, #team {
    background: #f6f7fe;
}
#team .team-section-text {
    padding-top: 70px;
}
.section-count, .section-title {
    font-family: 'Josefin Sans',sans-serif;
}
.section-count {
    height: 120px;
    overflow: hidden;
    font-weight: 100;
}
.section-count>span {
    color: #e6e9f4;
    display: block;
    font-size: 220px;
    line-height: .7em;
}
.section-title {
    color: #3e6edf;
    font-size: 48px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.section-text>p {
    margin-bottom: 15px;
}

#team {
    padding: 150px 0
}

#team .team-section-text {
    padding-top: 70px
}

#team .team-single {
    border: 8px solid #e6e9f4;
    margin: 0 auto;
    padding: 15px;
    width: 320px;
    display: none
}

#team .team-single.active {
    display: block
}

#team .team-list>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#team .team-list>ul>li {
    position: relative;
    margin: 15px 0
}

#team .team-list>ul>li:first-child {
    margin-top: 0
}

#team .team-list>ul>li:last-child {
    margin-bottom: 0
}

#team .team-list>ul>li.active>a>figure:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(131, 158, 226, .7)
}

#team .team-list>ul>li.active::after {
    color: #3e6edf;
    content: "ï¡";
    font-family: fontawesome;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 50%
}

#team .team-list>ul>li>a>figure {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
    position: relative
}

#team .team-info>h4 {
    color: #3a3a3a;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center
}

#team .team-img {
    position: relative
}

#team .team-img>img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#team .team-social>ul {
    bottom: 0;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    position: absolute;
    right: 30px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#team .team-social>ul>li>a {
    border-radius: 50%;
    color: #3e6edf;
    display: block;
    font-size: 18px;
    height: 40px;
    margin: 15px 5px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#team .team-social>ul>li>a:hover {
    background: #3e6edf;
    color: #fff
}

#team .team-social>ul>li>a::after {
    border: 1px solid #dee3f4;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 50px
}

#team .team-single:hover .team-img>img {
    margin-left: -70px
}

#team .team-single:hover .team-social>ul {
    opacity: 1;
    right: 0
}

@media screen and (max-width:1200px) {
    #team {
        padding: 120px 0
    }
}

@media screen and (max-width:991px) {
    #team {
        padding: 90px 0
    }
    #team .col-md-5.col-sm-12.pull-right {
        float: none!important
    }
    #team .team-section-text {
        padding-bottom: 50px;
        padding-top: 0
    }
}

@media screen and (max-width:767px) {
    #team {
        padding: 60px 0
    }
    #team .team-section-text {
        padding-bottom: 30px;
        padding-top: 0
    }
    #team .team-single {
        margin: 30px auto 0;
        overflow: hidden;
        padding: 10px;
        width: 100%
    }
    #team .team-list {
        text-align: center
    }
    #team .team-list>ul>li {
        position: relative
    }
    #team .team-list>ul>li>a>figure {
        height: 65px;
        position: relative;
        width: 65px
    }
    #team .team-list>ul>li.active::after {
        margin-top: 10px;
        position: absolute;
        right: 30px!important;
        top: 100%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    #team .team-list>ul>li {
        display: inline-block;
        margin: 15px 0
    }
}










@media screen and (max-width: 1200px){
	#team {
    padding: 120px 0;
	}
}
@media screen and (max-width: 991px){
	#team {
			padding: 90px 0;
	}
	#team .team-section-text {
    padding-bottom: 50px;
    padding-top: 0;
}
}



























